/* notalone.css *****/

body{
	padding : 0px;
	margin : 0px;
}
#top-menu{
	position : fixed;
	top : 0;
	left : 0;

	width : 100%;
	text-align : center;

	background-color : yellow;
	padding : 0px;
	margin : 0px;

	z-index : 1;
}

#myCalendar{
	position : fixed;
	top  : 0;
	right : 0;

	width : 20px;
	text-align : right;

	padding : 0px;
	margin : 0px;

	z-index : 2;
}

#menu-back{
	/*height : 30px;*/
	padding : 0px;
	margin : 0px;
}

#thispage{
	display:none;
}

/**** for index ****/
#privert{
	position : relative;
	padding : 0px;
	margin : 0px;
}
#myCanvas{
	/*width : 50%;*/
	float : left;
	padding : 0px;
	margin : 0px;
}
#info{
	padding : 0px;
	margin : 0px;
}
#info img,input{
	vertical-align : top;
}
#myFavFamily{
	/*padding-left : 20px;*/
	/*clear : both;*/
}
#setting{
	display : none;
	clear : both;
}

/*** index / inquiry common */
.jobmenu{
	clear : both;
	position : relative;
	text-align : center;
	padding : 0px;
	margin  : 0px;
}
#menu1{
	background-color : lightgreen;
}
#menu2{
	background-color : #FAFAD2;
}
#menu3{
	background-color : #E0FFFF;
}

#menu4,#inqid_1_title{
	background-color : lightgreen;
}
#menu5,#inqid_2_title{
	background-color : #FFDEAD;
}
#menu6,#inqid_3_title{
	background-color : #FAFAD2;
}
#menu7,#inqid_4_title{
	background-color : #E0FFFF;
}
#menu8,#inqid_5_title{
	background-color : #FFE4E1;
}

#inqid_close{
	text-align : center;
	background-color : lightgray;
	/* border : solid 1px; */
}




/**** for events.html ****/
#calendar {
}

.calendar-event-even {
	height : 40px;
	line-height : 40px;
	padding-left : 10px;

	background-color : lightblue;	
}
.calendar-event-odd {
	height : 40px;
	line-height : 40px;
	padding-left : 10px;

	background-color : lightyellow;	
}
.calendar-event-cont {
	padding-left : 20px;
	display:none;
}

.eventclass{
	width : 100%;
	border-collapse: collapse;
}
.eventclass th,td{
	padding-left : 6px;
	padding-right: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}
.eventclass th{
	width : 80px;
	background : #F5F5F5;
}


/**** for inquiry.html ****/
.inquiry-cont {
	padding-left : 20px;
	display:none;
}
