/* notalone.css *****/

body{
	padding : 0px;
	margin : 0px;
}
#top-menu{
	position : fixed;
	top : 0;
	left : 0;

	width : 100%;
	text-align : center;

	background-color : yellow;
	padding : 0px;
	margin : 0px;

	z-index : 1;
}

#myCalendar{
	position : fixed;
	top  : 0;
	right : 0;

	width : 20px;
	text-align : right;

	padding : 0px;
	margin : 0px;

	z-index : 2;
}

#menu-back{
	/*height : 30px;*/
	padding : 0px;
	margin : 0px;
}

#thispage{
	display:none;
}

/**** for index ****/
#privert{
	position : relative;
	padding : 0px;
	margin : 0px;
}
#myCanvas{
	/*width : 50%;*/
	float : left;
	padding : 0px;
	margin : 0px;
}
#info{
	padding-top  : 10px;
	padding-left : 10px;
	margin : 0px;
}
#info img,input{
	vertical-align : top;
}

#setting{
	display : none;
	clear : both;
	font-size : 12px;
	text-align : left;
}
#settingMenu{
}
#settingMenu li{
	float : left;

	list-style-type: none;
	font-size:12px;
	margin : 0px;
	padding : 10px 0px 10px 0px;
	text-align : center;
}
#settingMenu1{
	width : 45%;
	background-color: #FFFFCC;
	border-left : 1px #FFFFCC solid;
	border-top  : 1px #FFFFCC solid;
	border-bottom  : 1px #FFFFCC solid;
}
#settingMenu2{
	width : 45%;
	background-color: #EEEEEE;
	border-left   : 1px #FFFFCC solid;
	border-top    : 1px #FFFFCC solid;
	border-right  : 1px #FFFFCC solid;
	border-bottom : 1px #FFFFCC solid;
}

#favSetting{
	clear : both;
	display : block;
	padding : 10px;
	border-left  : 1px #FFFFCC solid;
	border-right : 1px #FFFFCC solid;
	background : #FFFFCC;
}
#imageSetting{
	clear : both;
	display : none;
	padding : 10px;
	border-left  : 1px #FFFFCC solid;
	border-right : 1px #FFFFCC solid;
}
#settingInfo{
	background : #FFFFCC;
	padding-left  : 10px;
	padding-right : 10px;
}
#myFavFamily{
	/*padding-left : 20px;*/
	/*clear : both;*/
}


/*** index / inquiry common */
.jobmenu{
	clear : both;
	position : relative;
	text-align : center;
	padding : 0px;
	margin  : 0px;
}
#menu1{
	background-color : lightgreen;
}
#menu2{
	background-color : #FAFAD2;
}
#menu3{
	background-color : #E0FFFF;
}
#project{
	background-color : #FFFFFF;
	text-align : center;
	border : solid 1px #cccccc;
}


#menu4,#inqid_1_title{
	background-color : lightgreen;
}
#menu5,#inqid_2_title{
	background-color : #FFDEAD;
}
#menu6,#inqid_3_title{
	background-color : #FAFAD2;
}
#menu7,#inqid_4_title{
	background-color : #E0FFFF;
}
#menu8,#inqid_5_title{
	background-color : #FFE4E1;
}

#inqid_close{
	text-align : center;
	background-color : lightgray;
	/* border : solid 1px; */
}




/**** for events.html ****/
#calendar {
}
.calendar-event {
	height : 30px;
	line-height : 30px;
	padding-left : 10px;

	overflow: hidden;
	border-top : 1px solid #FFFFFF;
	opacity : 0.7;
}
.calendar-event-even {
	height : 30px;
	line-height : 30px;
	padding-left : 10px;

	overflow: hidden;

	background-color : lightblue;
}
.calendar-event-odd {
	height : 30px;
	line-height : 30px;
	padding-left : 10px;

	overflow: hidden;

	background-color : lightyellow;	
}
.calendar-event-cont {
	padding-left : 10px;
	font-size : 14px;
	display:none;
}

.eventclass{
	width : 100%;
	border-collapse: collapse;
}
.eventclass th,td{
	padding-left : 6px;
	padding-right: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}
.eventclass th{
	width : 50px;
	background : #F5F5F5;
}

#map_area{
	visibility : hidden;

	position : fixed;
	top  : 50px;

	/* left は初期値 */
	left : 10px;

	padding : 5px;
	border : 3px solid #000000;
	background : lightgreen;

	z-index : 10;
}

#map_canvas{
	width : 250px;
	height: 300px;
}



/**** for inquiry.html ****/
.inquiry-cont {
	padding-left : 20px;
	display:none;
}
